@import url('https://fonts.googleapis.com/css2?family=Acme&family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
header {
    margin: 0 auto;
}
nav a {
    font-family: 'Acme', sans-serif;
}
nav li a {
    color: #000;
    font-family: 'Didact Gothic', sans-serif;
}

.navbar {
    background-color: #ECEFEE;
    padding: 10px 50px;
}

.navbar-text i {
    float: right;
    margin: auto 10px;
}
.container {
    width: 90%;
    justify-content: center;
    margin: 35px auto 35px auto;
}
.hero-row {
    margin: 0px auto;
    margin-top: 50px;
}
.col img {
    width: 100%;
    height: auto;
}
.col h1{
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: 25px auto 25px auto;
}
.col p {
    font-family: 'Didact Gothic', sans-serif;

}
.more {
    padding: 8px 15px;
    border-radius: 25px;
    margin: 10px auto;
}
.more:hover {
    color: #fff;
    background-color: orange;
    border: 2px solid orange;
}
.grid-head {
    font-family: 'Acme',sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 20px auto 40px auto;
}
.grid-content a {
    text-decoration: none;
}
.col-sm img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.col-sm p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
}
.blog-headline {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
}
.profile {
    color: #000;
    display: flex;
    justify-content: left;
    font-size: 10px;
}
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile p {
    margin: auto;
    margin-left: 10px;
}
.profile span {
    font-weight: bold;
    font-size: 14px;
}
.footer {
    background-color: #000;
    color: #fff;
}
form {
    margin: 25px auto 0 auto;
}
hr {
    width: 50%;
    height: 5px;
    color: #fff;
}
.email-input {
    width: 100%;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    box-shadow: 0;
}
.submit-btn {
    width: 100%;
    padding: 10px 15px;
    margin: 5px;
    background-color: orange;
    color: #fff;
    border-radius: 25px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    box-shadow: 0;
    
}
.submit-btn:hover {
    background-color: #fff;
    color: orange;
    font-weight: normal;

}
.footer h6 {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
.social-icons {
    margin-bottom: 16px;
}
.social-icons a {
color: #fff;}
.social-icons i {
    font-size: 15px;
    margin: auto 5px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.footer p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12px;
}



/*------  Media Queries   -----*/
@media screen and (min-width:960px) {
    
    .grid-content {
        margin: 80px auto;
    }
    .grid-row {
        margin-bottom: 40px;
    }
    
    .forum-input {
        margin-top: 20px;
    }
}
@media screen and (max-width: 960px) {
    .navbar {
        background-color: red;
        padding: 10px 50px;
    }
    .container {
        margin: 40px auto;
    }
    .grid-content{
        margin: 80px auto;
    }
   .forum {
        margin: 40px auto;
    }
    .row {
        display: block;
    }
    .custom_class {
        margin: 25px auto 25px auto;
    }

}
@media screen and (max-width:480px) {
    .profile img {
        width: 40px;
        height: 40px;
    }
    .profile {
        font-size: 10px;
    }
    .profile span {
        font-size: 12px;
    }
    
}